{% extends "contenido/encabezado.html" %}

{%block titulo%}Principal{%endblock%}
{%block titulo2%}Principal{%endblock%}

{% block imagen%}
	{%load static%}
	{%static 'contenido/img/home.png'%}

{%endblock%}	

{% block contenido%}
<!-- Contenido Principal-->
<div class="page-content">
<div>

    			<!-- /Encabezado-->
                <div class="container">
                    <div class="jumbotron">
                        <div class="page-header">
                            <div class="page-title">
                                
                                <small>Aplicacion de Cursos hecha en clase </small></h3>
                            </div>
                    </div>
                    
                  </div>
</div>
</div>

{%endblock%}